[user]
    name = Ben Hayden
    email = hayden767@gmail.com

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore_global

[push]
    default = current

[merge]
    tool = fugitive

[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[alias]
    ci = commit
    br = branch
    co = checkout
    st = status
    diffc = diff --cached
    plog = log --graph --all --decorate
