[user]
    name = Ben Hayden
    email = hayden767@gmail.com

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore_global

[push]
    default = nothing

[merge]
    tool = fugitive

[mergetool "fugitive"]
    cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[alias]
    ci = commit
    br = branch
    co = checkout
    cp = cherry-pick
    st = status
    diffc = diff --cached
    plog = log --graph --all --decorate
    slog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    tracking = for-each-ref --format='%(refname:short) <- %(upstream:short)' refs/heads
